body {
  text-align: center;
}

/* Nav Bar */

.navbar-default {
  background: transparent;
  border-color: transparent;
}

/*Title*/

#cutie {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.jumbotron {
  background: transparent;
  margin-bottom: -20px;
}

#title-line {
  margin-bottom: 10px;
  width: 50%;
  border-top: 1px solid #a5a5a5;
}

/*Schedule, Map, Speakers, Resources, and Sponsors*/

.columns {
  margin-top: 30px;
}

.all-headings {
    text-transform: uppercase;
}

.lines {
  margin-top: 0px;
  width: 50%;
  border-top: 1px solid #a5a5a5;
}

.img {
  width: 100%
}

/* Map, Speakers, Resources, and Sponsors */

.other-headings {
  font-size: 2.5em;
}

/* Schedule */

.schedule {
  border: 1px solid #a5a5a5;
  font-size: 2em;
  height: 663px; /* the height is temporarily; will remove this property once placeholder are in */
}

/* Resources */

.resources {
  width: 290px;
  height: 464px;
}

/* Sponsors */

.sponsors {
  margin-bottom: 30px;
}
