body {
  text-align: center;
}

/*Title*/

#cutie {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.jumbotron {
  background: transparent;
  margin-bottom: -20px;
}

#title-line {
  background: #e2e2e2;   /* gray */
  margin-bottom: 10px;
  width: 30%;
}

/* Buttons */

#buttons{
  margin-bottom: 60px;
}

#map {
  float:left;
  margin-left: -15px;
}

#facebook {
  float: right;
  margin-right: -15px;
}

/*Schedule, Speakers, Resources, and Sponsors*/

.columns {
  height: 663px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2em;
}

/* Schedule */

.schedule {
  border: 1px solid #e2e2e2;
}
