</div>
		</div>

<!-- tried applying style to main.css, wasnt working so I just did it here-->
<style type="text/css">
	.questionBorder {
		border-radius: 5px;
		background-color: #EEBD69;
		padding: 10px;
		box-shadow: 5px 10px;
		margin: 5%;
	}
	#faqDiv {
		background-color: #EFDABF;
		text-align: center;
	}
	#faqHeader {
		color: black;
	}
</style>

<!-- FAQ Section -->
<div id="faqDiv" class="container">

  <h1 id="faqHeader" class="text-center lightText">FAQ</h1>

  <div class="row">

	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText">Who can attend?</h2>
	    <p class="faqAnsw darkText BasicFontSize">We welcome all undergraduate university students, from any major! If you have graduated within the past year, you are also welcome to attend.</p>
	  </div>  
	  <div class="col questionBorder"> 
		<h2 class="faqQuestion darkText">Is Cutie Hack free?</h2>
    	<p class="faqAnsw darkText BasicFontSize">Absolutely!</p>
	  </div>

	  <!-- bootstrap shortcut for creating new row -->
	  <div class="w-100"></div>  

	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText">Is there free food?</h2>
	  	<p class="faqAnsw darkText BasicFontSize">Yes! Meals, refreshments, and snacks will be provided thoughout the event.</p>
	  </div>  
	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText"> What should I bring?</h2>
		<div class="faqAnsw darkText BasicFontSize">Student IDs are required. Consider bringing a hacking machine, headphones, and a pillow!</div>
	</div>

	  <!-- bootstrap shortcut for creating new row -->
	  <div class="w-100"></div>  

	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText"> Do I need a team?</h2>
	  	<p class="faqAnsw darkText BasicFontSize">Teams are not required, but are recommended. Membership is capped at 4 members. You are welcome to form teams before the hacking begins!</p>
	  </div>  
	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText"> When is the deadline to sign up?</h2>
		<div class="faqAnsw darkText BasicFontSize">The deadline to signup is ..... </div>
	  </div>
	  
	  <!-- bootstrap shortcut for creating new row -->
	  <div class="w-100"></div>  

	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText">Any other questions?</h2>
	  	<p class="faqAnsw darkText BasicFontSize">Feel free to contact us through <a href="mailto:cutiehack@gmail.com">email</a>!</p>
	  </div>
	  <div class="col questionBorder"> 
	  	<h2 class="faqQuestion darkText">Another question...</h2>
		<p class="faqAnsw darkText BasicFontSize">Another Answer</p>
  	  </div>

  </div>	
</div>
 
  
</div>
<!-- END of FAQ Section -->

<!--Sponsors and Organizers-->
	<div class = "container">
		<h1 class = "text-center" id ="sponsors">2018 Sponsors</h1>

		<!-- 3 largest sponsors -->
		<div class = "row">
			<div class = "col horizCenter">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="300" height="150">
			</div>