<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cutie Hack 2018</title>
	{% load static %} <!--tag needed to configure static files like css in django-->
    <!--django will look for css/main.css file in the static folder-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- jquery -->
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

	<!-- link for main.js -->
    {% load static %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.png' %}">

	<!-- Bootstrap and Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<!-- Font Awesome (for contact icons) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS Animate on Scroll Library -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
	<!-- NAVBAR -->	
	<nav class="navbar navbar-expand-lg sticky-top" id="sticky-nav">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <i id="collapse-button" class="fa fa-bars"></i>
	  	</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="nav">
				<li class= "nav-item">
					<a href="#home">
						<div class="nav-link active" id="homelink">HOME</div>
					</a>
				</li>
				<li class= "nav-item">
					<a href="#aboutUs">
						<div class="nav-link" id="aboutlink">ABOUT</div>
					</a>	
				</li>
				<li class= "nav-item">
					<a href="#faq">
						<div class="nav-link" id="faqlink">FAQ</div>
					</a>
				</li>
				<li class= "nav-item">
			       	<a href="#sponsors">
			       		<div class="nav-link" id="sponsorslink">SPONSORS</div>
			       	</a>
			    </li>
			    <li class="nav-item">
			    	<a href="#organizers">
			    		<div class="nav-link" id="contactlink">CONTACT</div>
			       	</a>
			    </li>
			    {% if user.is_authenticated %}
		        <li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACCOUNT</a>
			        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			        	<li><a class="dropdown-item" id="profilelink"href = "{% url 'profile'%}">PROFILE</a></li>
			        	<li><a class="dropdown-item" id="logoutlink"href = "{% url 'logout'%}">LOG OUT</a></li>
			        </ul>
		      	</li>
		        {% else %}
		      	<li class= "nav-item">
		        	<a id="loginlink"href="{% url 'login'%}">
		        		<div class="nav-link">LOGIN</div>
		        	</a>
		        </li>
		        {% endif %}	
			</ul>
		</div>
	</nav>
	<!-- END NAVBAR -->
	
	<!-- BEGIN CONTENT ON PAGE -->
	<div id="home" class="content">
		<!-- MainHero -->
		{% load static %}
		<img src="{% static 'images/cityscape.png' %}" alt="Hero Image" id="heroLG" class="hero" data-aos="fade-up"/>
		{% load static %}
		<img src="{% static 'images/cityscape_mobile.png' %}" alt="Hero Image" id="heroSM" class="hero" data-aos="fade-up"/>
		<div id="banner">
			<div id = "MainHeroText" data-aos="fade-up">
				<h1 id="CutieHackTitle">CUTIE HACK</h1>
				<p id="eventDetails">November 11, 2018<br>
				at UC Riverside</p>
				{% if user.is_authenticated %}
				{% else %}
				<hr id="headerTextBreak">
				<a href="{% url 'signup'%}"><button type="button" class="btn btn-dark">Apply</button></a>
				{% endif %}	
			</div>	
		</div>

		<!--  END MainHero -->


		<!--Begin Main Info Sections-->
		<div id="aboutUs">

			<!-- Begin What is -->
			<div id="whatis">
				<div id="whatisContent" data-aos="fade-down">
					<div class='container'>
						<div class="row">
							<div class="col-12 col-sm-12 col-lg-6 col-xl-6 text-center">
								{% load static %}
	         					<img src="{% static 'images/cody.png' %}" alt="Cody" class="img-fluid" id="computerCody"/>
							</div>

							<div class="col-12 col-sm-12 col-lg-6 col-xl-6">
								<h1 class="sectionHeader" style="color: #FFFFFF;">What is Cutie Hack?</h1>
								<p class="infoText" style="color: #FFFFFF;">Cutie Hack is a beginner-friendly, 12-hour hackathon. Hosted at UC Riverside, Cutie Hack is designed to help new hackers get used to the time crunch of a hackathon environment. Cutie Hack invites collegiate students to UC Riverside to collaborate and innovate. Throughout the 12 hours, participants work in teams on a project, attend workshops to learn about new technologies, and network with industry partners.</p>
							</div>
						</div>
					</div>	
				</div>
			</div>	
			<!-- End What is -->


			<!--About Us-->
			<div id="about">
				<div id="aboutContent" data-aos="fade-down">
					<div class="container">
						<div class="row">
							<div id="aboutText"class="col-12 col-sm-12 col-lg-7 col-xl-7">
								<h1 class="sectionHeader">About Us</h1>
								<p class="infoText">Since it's inaugural year of 2015, Cutie Hack's goal is to create a place where students can build and create to their heart's content. Founded by ACM and IEEE student members at the University of California, Riverside, the Cutie Hack committee strives to make Cutie Hack an easy entry point for new hackers to jump into the collegiate hackathons.</p>
							</div>

							<div class="col-12 col-sm-12 col-lg-5 col-xl-5 text-center">
								{% load static %}
	         					<img src="{% static 'images/billboard.png' %}" alt="Billboard" id="billboard"/>
							</div>
						</div>	
					</div>
				</div>	
			</div>
			<!-- END About Us -->
		</div>
		<!-- END What is Cutie Hack & About Us -->

		<!-- FAQ Section -->
		
		<div id="faq">
			<div class="container">
				<h1 id="faqHeader" class="text-center sectionHeader">FAQ</h1>

				<div class="row">

					<div class="col questionBorder"> 
					  	<h2 class="faqQuestion darkText">Who can attend?</h2>
					   	<p class="faqAnsw infoText">We welcome all undergraduate university students, from any major! If you have graduated within the past year, you are also welcome to attend.</p>
					 </div>  
					<div class="col questionBorder"> 
						<h2 class="faqQuestion darkText">Is Cutie Hack free?</h2>
				    	<p class="faqAnsw infoText">Absolutely! There's no cost to attend, but do bring your own hacking device.</p>
					</div>

					  <!-- bootstrap shortcut for creating new row -->
					<div class="w-100"></div>  

					<div class="col questionBorder"> 
						<h2 class="faqQuestion darkText">Is there free food?</h2>
					  	<p class="faqAnsw infoText">Yes! Meals, refreshments, and snacks will be provided thoughout the event.</p>
					</div>  
					<div class="col questionBorder"> 
					  	<h2 class="faqQuestion darkText">What should I bring?</h2>
						<div class="faqAnsw infoText">Student IDs are required. Consider bringing a hacking machine, headphones, and a pillow!</div>
					</div>

					<!-- bootstrap shortcut for creating new row -->
					<div class="w-100"></div>  

					<div class="col questionBorder"> 
					  	<h2 class="faqQuestion darkText">Do I need a team?</h2>
					  	<p class="faqAnsw infoText">Teams are not required, but are recommended. Membership is capped at 4 members. You are welcome to form teams before the hacking begins!</p>
					</div>  
					<div class="col questionBorder"> 
					  	<h2 class="faqQuestion darkText">Am I allowed to prepare code before coming to the event?</h2>
						<div class="faqAnsw infoText">All coding must be done during the given hacking period. You can, however, plan your project as much as you like before time starts!</div>
					</div>
					  
					  <!-- bootstrap shortcut for creating new row -->
					<div class="w-100"></div>  

					<div class="col questionBorder"> 
					  	<h2 class="faqQuestion darkText">Where will the event be held?</h2>
					  	<p class="faqAnsw infoText">Cutie Hack will be held November 11, 2018 in Winston Chung Hall at UC Riverside.</p>
					</div>
					<div class="col questionBorder"> 
					  	<h2 class="faqQuestion darkText">Any other questions?</h2>
						<p class="faqAnsw infoText">Feel free to contact us through <a href="mailto:cutiehack@gmail.com">email!</a></p>
					</div>
				</div>
			</div>	
		</div>
		<!-- END of FAQ Section -->

		<!--Sponsors and Organizers-->
		<div id = "sponsors">
			<div class = "container">
				<h1 class="sectionHeader text-center">2018 Sponsors</h1>

				<!-- Sponsors -->

				<div class = "row text-center">
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mediumSponsor">
						<div class = "img-responsive center-block">
							{% load static %}
	         				<a href="https://github.com"><img class="zoom" src="{% static 'images/companylogos/GitHub.png' %}" alt="GitHub" id="GitHub"/></a>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mediumSponsor">
						<div class = "img-responsive center-block ">
							{% load static %}
	         				<a href="https://gogosqueez.com"><img class="zoom" src="{% static 'images/companylogos/GoGoSqueez.png' %}" alt="GoGoSqueez" id="GoGoSqueez"/></a>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mediumSponsor">
						<div class = "img-responsive center-block">
							{% load static %}
							<a href="https://get.tech/"><img class="zoom" src="{% static 'images/companylogos/dotTech.png' %}" alt=".Tech Domains" id="dotTech"/></a>
						</div>
					</div>
				</div>

				<!-- End Sponsors -->

				<!-- organizers -->
				<h1  class="sectionHeader text-center pt-4 pb-2" id= "organizers">Organizers</h1>

				<div class = "row text-center">
					<div class = "col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mediumSponsor">
						<div class="img-responsive center-block">
							{% load static %}
	         				<a href="https://acmucr.org"><img class="zoom" src="{% static 'images/companylogos/ACMUCR.png' %}" alt="Association of Computing Machines, UC Riverside" id="ACM"/></a>
	         			</div>	
					</div>
					<div class = "col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mediumSponsor">
						<div class="img-responsive center-block">
							{% load static %}
	         				<a href="https://ieee.ee.ucr.edu/"><img class="zoom" src="{% static 'images/companylogos/IEEE.png' %}" alt="Institute of Electrical and Electronics Engineers, UC Riverside" id="IEEE"/></a>
						</div>
					</div>
				</div>
			</div>	
			<!-- End Organizers -->
		</div>
		<!-- END Sponsors and organizers -->

	</div>	

	<!-- FOOTER -->
	<div id="footer" class="darkDiv">
		<p class="text-center lightText">
			<a class="iconSize" href="https://www.facebook.com/cutiehack/"><i class="fa fa-facebook-square lightText"></i></a>
		    <a class="iconSize" href="mailto:cutiehack@gmail.com"><i class="fa fa-envelope lightText"></i></a>
		    <a class="iconSize" href="https://twitter.com/citrushack"><i class="fa fa-twitter-square lightText"></i></a>
		    <a class="iconSize" href="https://www.instagram.com/citrushack_ucr/"><i class="fa fa-instagram lightText"></i></a>
		    <p class="infoText text-center">Made with <span class = "red" >&#9829;</span> in Riverside, CA</p>
			<p class="infoText text-center">© 2018 Cutie Hack</p>
		</p>
	</div>
	<!-- END FOOTER -->

</body>

<script type="text/javascript">
	AOS.init({
		duration : 1200,
		once : true,
	})
</script>
</html>
