.ui.segment, .ui.segments .segment {
  font-size: 1.2em;
  background-color: #EEBD69;
}

.ui.segment {
  border-radius: 30px;
}

label {
  font-weight: normal;
}

#card {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  padding: 20%;
  filter: drop-shadow(5px 5px 2px #282828);
  /* background-color: #F9F6E5;
  border-radius: 30px; */
}

#logo {
  display: inline-block;
  height: auto;
  min-width: 80px;
  /* height: 100px;
  width: 100px; */
}
#background {
  background-size: cover;
  overflow: hidden;
}
#button {
  display: inline-block;
  background-color: #F38709;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  box-shadow: 2px 2px 5px #28282A;
  width: 90px;
  margin: 0%;
}

#button:hover {
  cursor:pointer;
}

.textField {
  display: inline-block;
  width: 60%;
  border:none;
  margin: 4%;
}


/*	<.7 aspect ratio */
@media all {
#card{
  height: 80%;
  width: 63%;
  min-height: 300px;
}
#logo {
  width:15vh;
  margin-top: 14.5%;
}
#title {
  font-weight: 700;
  font-size: 5.5vh;
  margin: 7%;
}
}

/*	.7-1 aspect ratio */
@media (min-aspect-ratio: 7/10) {
  #card{
    height: 80%;
    width: 63%;
    min-width: 250px;
    min-height: 300px;
  }
  #logo {
    width:15vh;
    margin-top: 14.5%;
  }
  #title {
    font-weight: 700;
    font-size: 5.5vh;
    margin: 7%;
  }
}

/*	1-1.5 aspect ratio (test 1000/1000 and 1500/1000)*/
@media (min-aspect-ratio: 1/1) {
  #card{
    height: 85%;
    width: 45%;
    min-width: 250px;
    min-height: 300px;
  }
  #logo {
    width:20vh;
    margin-top: 7%;
  }
  #title {
    font-weight: 700;
    font-size: 8vh;
    margin: 7%;
  }
  .textField {
    margin: 3%;
  }
} */

/*	1.5-2 aspect ratio (test 1500/1000 and 2000/1000)*/
/* @media (min-aspect-ratio: 3/2) {
  #card{
    height: 90%;
    width: 40%;
    min-width: 250px;
    min-height: 425px;
  }
  #logo {
    width:23vh;
    margin-top: 7%;
  }
  #title {
    font-weight: 700;
    font-size: 9vh;
    margin: 7%;
  }
  .textField {
    margin-bottom: 6%;
  }
}

/*	mobile phones*/
@media (min-device-height: 850px) {
  #logo {
    margin-top: 15%;
    width: 12vh;
  }
  #card{
    height: 53%;
    width: 70%;
  }
  .textField {
    width: 70%;
    margin: 10%;
  }
  #button {
    width: 130px;
    margin-top: 20%;
  }
  #title {
    font-size: 5vh;
  }
}

/*tablets*/
@media (min-device-height: 900px) {
  #logo {
    margin-top: 15%;
    width: 12vh;
  }
  #card{
    height: 67%;
    width: 70%;
  }
  .textField {
    width: 70%;
    margin: 10%;
  }
  #button {
    width: 130px;
    margin-top: 20%;
  }
  #title {
    font-size: 5vh;
  }
}
