<!---
<h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  --->
<!DOCTYPE html>
<html>
<head>
  <title>Cutie Hack 2018</title>
</head>
<body>

  <h1>Apply to Cutie Hack</h1>
  <p>Personal Information</p>
  <p> * denotes required field</p>

  <form>
  First name:
  <input type="text" name="firstname">
  Last name:
  <input type="text" name="lastname">
  <br><br>
  Email:
  <input type="email" name="">
  <br><br>
  Confirm Email:
  <input type="email" name="">
  <br><br>
  Password:
  <input type="Password" name="">
  Confirm Password:
  <input type="Password" name="">
  <br><br>
  <input type="submit" value="next">

  </form>

</body>
</html>