body {
  text-align: center;
}

/* Nav Bar */

/*.navbar-default {
  background: transparent;
  border-color: transparent;
}
*/

/* For active nav link */

.active{
  color:#f09e12 !important;
}

/* Title */

#title-name {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.jumbotron {
  background: transparent;
  margin-bottom: -20px;
  padding-top: 6%;
}

#title-line {
  margin-bottom: 10px;
  width: 50%;
  border-top: 1px solid #a5a5a5;
}

/*All Sections*/

.container { /* makes everything bigger */
  width: 90%;
}

.all-headings {
    text-transform: uppercase;
}

.lines {
  margin-top: 0px;
  width: 50%;
  border-top: 1px solid #a5a5a5;
}

/* Sections after Schedule */

.other-headings {
  font-size: 2.5em;
}

.sections {   /* makes each section have space top and bottom */
  padding: 5%;
}

/* Schedule */

.schedule {
  border: 1px solid #a5a5a5;
  padding: 3% 0%;
  border-radius: 30px;
  margin: 30px;
}

.weekends {
  font-size: 2em;
}

.events {
  font-size: 20px;
  text-transform: none;
  padding: 3%;
  border: 1px solid #a5a5a5;
  width: 60%;
  margin: 5% 20%;
}

/* Resources */

.resources {
  border: 1px solid #a5a5a5;
  border-radius: 30px;
  width: 45%;
  margin: 2%;
}

.ui.segment, .ui.segments .segment {
  font-size: 1.2em;
}

.ui.raised.segments {
  margin: 4% 3%;
}

/* navbar */

.navbar-default {
    background-color: white;
    border-color: black;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777; /*color of nav links*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black; /*color change when hovering nav link*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

.darkDiv {
  background: #28282A;
  padding: 3%;
}

#footer {
  padding-top: 1.5%;
  padding-bottom: .5%;
}



.iconSize {
  text-decoration:none;
  color:#fff;
  font-size: 175%;
  margin: 2.5%;
  margin-top: 1%;
}

.infoText{
/*  font-family: 'Poppins' !important;"*/
  font-weight: 400;
  color: #fff;
  line-height: 2;
  font-size: 125%;
}


/*SponsorCSS*/
.sectionHeader {
  font-size:350% !important;
  font-family: 'Poppins' !important;
  font-weight: 500;
  color: black;
}

#sponsors { 
  padding-top: 5%;
  padding-bottom: 5%;
}

#organizers {
  padding-top: 5%;
}

.mediumSponsor{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;    
  display: block;
}


.img-fluid {
  max-height: 100%;
  width: auto;
}

#GitHub{
  margin-top: 25px;
  height:50px;
  width:auto;
}

#GoGoSqueez{
  height:100px;
  width:auto;
}

#dotTech{
  height:100px;
  width:auto;
}

#ACM {
  height:170px;
  width:auto;
}

#IEEE{
  height: 130px;
  width:auto;
}

/*SponsorCSS End*/