<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <div id="home">
    <title>Cutie Hack 2018</title>
  </div>
  <!-- include boostrap -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="livepage.css" />
  <!-- custom style for scrolling nav -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <!-- JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/livepage.js"></script>
</head>

<body>

  <!-- Nav Bar  -->

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link js-scroll-trigger active" id="homelink" href="#home">Home</a></li>
          <li><a class="nav-link js-scroll-trigger" id="schedulelink" href="#schedule">Schedule</a></li>
          <li><a class="nav-link js-scroll-trigger" id="maplink" href="#map">Map</a></li>
          <li><a class="nav-link js-scroll-trigger" id="resourceslink" href="#resources">Resources</a></li>
          <li><a class="nav-link js-scroll-trigger" id="speakerslink" href="#speakers">Speakers</a></li>
          <li><a class="nav-link js-scroll-trigger" id="sponsorslink" href="#sponsors">Sponsors</a></li>
        </ul>

      </div>

    </div>
  </nav>

  <div class="container">

    <!--Title + Buttons-->

    <div class="jumbotron">
      <h1 id="title-name">Cutie Hack 2018</h1>
      <p id="cntdwn"></p>
      <hr id="title-line">
      <br>
      <div id="buttons">
        <span id="allbuttons">
          <a href="https://citrushack2018.devpost.com/" class="btn btn-success btn-default">Devpost</a>
          <a href="https://www.facebook.com/CitrusHack/" class="btn btn-success btn-default">Facebook</a>
          <a href="https://twitter.com/citrushack?lang=en" class="btn btn-success btn-default">Twitter</a>
          <a href="https://citrus-hack-2018.slack.com/join/shared_invite/enQtMzQ1NjExOTAxMTY5LTBiMjBhMTdiMjMyZDEwOWNmZDgwZjc1ZDI2NmU1ZTBiYzgzOGI0NmIxOTQwMjZhZGE5MmMxNTYwMjdhZjRjNzg"
            class="btn btn-success btn-default">Slack</a>
        </span>
      </div>
    </div>

    <!--Schedule -->

    <div id="schedule">
      <!-- clean this up later -->
    </div>
    <div class="row schedule">
      <div class="col-sm-6 columns all-headings weekends">Saturday
        <hr class="lines">
        <div class="row">
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
        </div>
      </div>
      <div class="col-sm-6 columns all-headings weekends">Sunday
        <hr class="lines">
        <div class="row">
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
          <div class="col-sm-12 events">0:00 AM | Event name</div>
        </div>
      </div>
    </div>

    <!--Map-->

    <div class="row sections" id="map">
      <div class="col-lg-12 columns all-headings other-headings">Map
        <hr class="lines">
        <div class="col-sm-12"><img src="https://via.placeholder.com/750x365"></div>
      </div>
    </div>

    <!--Resources  -->

    <div class="row sections" id="resources">
      <div class="col-lg-12 columns all-headings other-headings">Resources
        <hr class="lines">
      </div>

      <!-- Resources Subsections  -->

      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="list-group-item-heading">Not a coder? <br />Here's other ways you can contribute to your team:</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Prepare a powerpoint</li>
          <li class="list-group-item">Research APIs, Frameworks, and other tools for your developer team mates</li>
          <li class="list-group-item">...And many more! Hackathons are never limited to people with coding experience.</li>
        </ul>
      </div>
      </div>

      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="list-group-item-heading">Not a coder? <br />Here's other ways you can contribute to your team:</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Prepare a powerpoint</li>
          <li class="list-group-item">Research APIs, Frameworks, and other tools for your developer team mates</li>
          <li class="list-group-item">...And many more! Hackathons are never limited to people with coding experience.</li>
        </ul>
      </div>
      </div>

      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="list-group-item-heading">Not a coder? <br />Here's other ways you can contribute to your team:</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Prepare a powerpoint</li>
          <li class="list-group-item">Research APIs, Frameworks, and other tools for your developer team mates</li>
          <li class="list-group-item">...And many more! Hackathons are never limited to people with coding experience.</li>
        </ul>
      </div>
      </div>

      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="list-group-item-heading">Not a coder? <br />Here's other ways you can contribute to your team:</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Prepare a powerpoint</li>
          <li class="list-group-item">Research APIs, Frameworks, and other tools for your developer team mates</li>
          <li class="list-group-item">...And many more! Hackathons are never limited to people with coding experience.</li>
        </ul>
      </div>
      </div>

      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="list-group-item-heading">Not a coder? <br />Here's other ways you can contribute to your team:</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Prepare a powerpoint</li>
          <li class="list-group-item">Research APIs, Frameworks, and other tools for your developer team mates</li>
          <li class="list-group-item">...And many more! Hackathons are never limited to people with coding experience.</li>
        </ul>
      </div>
      </div>

      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="list-group-item-heading">Not a coder? <br />Here's other ways you can contribute to your team:</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Prepare a powerpoint</li>
          <li class="list-group-item">Research APIs, Frameworks, and other tools for your developer team mates</li>
          <li class="list-group-item">...And many more! Hackathons are never limited to people with coding experience.</li>
        </ul>
      </div>
      </div>

  </div>

  <!--Speakers-->

  <div class="row sections" id="speakers">
    <div class="col-lg-12 columns all-headings other-headings">Speakers
      <hr class="lines">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 286px; background-color:whitesmoke;">
            <img class="card-img-top" style="width:283px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16693615cb4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16693615cb4%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="font-size:20px">Card title</h5>
              <p class="card-text" style="font-size:15px">Some quick example text to build on the card title and make
                up
                the bulk of the
                card's content.</p>
              <p class="card-text"><small class="text-muted" style="font-size:10px;">Last updated 3 mins
                  ago</small></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 286px; background-color:whitesmoke;">
            <img class="card-img-top" style="width:283px" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16693615cb4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16693615cb4%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="font-size:20px">Card title</h5>
              <p class="card-text" style="font-size:15px">Some quick example text to build on the card title and make
                up
                the bulk of the
                card's content.</p>
              <p class="card-text"><small class="text-muted" style="font-size:10px;">Last updated 3 mins
                  ago</small></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 286px; background-color:whitesmoke;">
            <img class="card-img-top" style="width:283px" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16693615cb4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16693615cb4%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="font-size:20px">Card title</h5>
              <p class="card-text" style="font-size:15px">Some quick example text to build on the card title and make
                up
                the bulk of the
                card's content.</p>
              <p class="card-text"><small class="text-muted" style="font-size:10px;">Last updated 3 mins
                  ago</small></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--2018 Sponsors/Organizers-->

  <div class="row sections" id="sponsors">
    <div class="col-lg-12 columns all-headings other-headings">2018 Sponsors
      <hr class="lines">

      <!-- Wide icons (1 for each row) -->
      <div class="col-sm-12 sections"><img src="https://via.placeholder.com/215x103"></div>
      <div class="col-sm-12 sections"><img src="https://via.placeholder.com/215x103"></div>
      <div class="col-lg-12 sections"><img src="https://via.placeholder.com/215x103"></div>

      <!-- Wide icons (2 for each row) -->
      <div class="col-sm-6 sections"><img src="https://via.placeholder.com/215x103"></div>
      <div class="col-sm-6 sections"><img src="https://via.placeholder.com/215x103"></div>

      <!-- Mini icons (3 for each row) -->
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 columns all-headings other-headings">Organizers
      <hr class="lines">

      <!-- Mini icons (3 for each row) -->
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>
      <div class="col-sm-4 sections"><img src="https://via.placeholder.com/118x103"></div>

    </div>
  </div>

  </div>
  <!--ending div of container -->

  <!-- JS Scripts -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
