@import url('https://fonts.googleapis.com/css?family=Titillium+Web:100, 400, 700');

body {
  text-align: center;
  overflow-x: hidden;
  background-color: #EEEEEE;
}

/* Nav Bar */

/*.navbar-default {
  background: transparent;
  border-color: transparent;
}
*/

/* For active nav link */

.active {
  color: #f09e12 !important;
}

/* Title */

#title-name {
  text-transform: uppercase;
  letter-spacing: 13px;
  color: rgb(243,135,9);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 96px;

}

#cntdwn {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: 40px;
  line-height: 1.2;
}

.btn-success {
  background-color: rgb(243,135,9);
  border-color: rgb(243,135,9); 
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.btn-success:hover {
  background-color: rgb(240,158,18);
  border-color: rgb(240,158,18);
  color: black;
}

.jumbotron {
  background: transparent;
  margin-bottom: -20px;
  padding-top: 6%;
}

/*All Sections*/

.container {
  /* makes everything bigger */
  width: 100%;
}


.lines {
  margin-top: 0px;
  width: 50%;
  border-top: 1px solid #a5a5a5;
}

/* Sections after Schedule */

.other-headings {
  font-size: 2.5em;
}

.sections {
  /* makes each section have space top and bottom */
  padding: 5%;
}

/* Schedule */

#schedule {
  padding-left: 8%;
  padding-right: 8%;
}

#schedule_line {
  margin-bottom: 40px;
  border-top: 2px solid #28282A;
}

.table {
  font-family: "Titillium Web";
  font-weight: 100;
  font-size: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 5%;
}

#col_0 {
  width: 5%;
} 

#col_1 {
  width: 25%;

}
#col_2 {
  width: 45%;
}
#col_3 {
  width: 25%;
}

th {
  padding-left: 50px;
}

.Event_Name {
  /* color: #F09E12; */
}

.HACKING_TIME {
  color: #f09e12;
}

.workshop {
  color: #00b5ad;
}


.weekends {
  font-size: 2em;
}

.events {
  font-size: 20px;
  text-transform: none;
  padding: 3%;
  border: 1px solid #a5a5a5;
  width: 60%;
  margin: 5% 20%;
}

/*  Map */
#map {
  background-color: #28282a;
}

/* Resources */

#resources {
  background-color: #eeeeee;
}

#resources > .other-headings {
  color: #28282a;
  font-style: italic;
  font-weight: bold;
}

.panel-default>.panel-heading {
  background-color: #28282a;
  color: #eeeeee;
}

.list-group-item {
  background-color: #28282a;
  color: #eeeeee;
  border: none;
}

.panel {
  margin: 4% 3%;
}

.card {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* navbar */

.navbar-default {
    background-color: #EEEEEE;
    border-color: #28282A;
}
/* Title */
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
}
/* Link */
.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Titillium Web';
    font-size: 18px;
    font-weight: bold;
    color: black; /*color of nav links*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777; /*color change when hovering nav link*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #d5d5d5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

/**Speakers Section**/
#judges {
  background-color: #28282a;
}

#judges > .other-headings {
  color: #eeeeee;
  font-style: italic;
  font-weight: bold;
}
.card {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  color: #333;
  border-radius: 10px;
}
.card-text {
  padding: 2px;
}

/* Mobile version */
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }

  .card {
    margin-top: 10px;
  }
}

.darkDiv {
  background: #28282A;
  padding: 3%;
}

#footer {
  padding-top: 1.5%;
  padding-bottom: .5%;
}



.iconSize {
  text-decoration:none;
  color:#fff;
  font-size: 175%;
  margin: 2.5%;
  margin-top: 1%;
}

.infoText{
/*  font-family: 'Poppins' !important;"*/
  font-weight: 400;
  color: #fff;
  line-height: 2;
  font-size: 125%;
}


/*SponsorCSS*/
.sectionHeading {
  font-size:350% !important;
  font-family: Titillium Web, sans-serif;
  font-weight: 500;
  color: black;
}

.altHeading {
  color: white;
  padding-bottom: 20px;
}

#sponsors { 
  padding-top: 5%;
  padding-bottom: 5%;
}

#organizers {
  padding-top: 5%;
}

.mediumSponsor{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;    
  display: block;
}

.img-fluid {
  max-height: 100%;
  width: auto;
}

#Gigabyte{
  margin-top: 25px;
  height:50px;
  width:auto;
}

#GitHub{
  margin-top: 25px;
  height:50px;
  width:auto;
}

#GoGoSqueez{
  height:100px;
  width:auto;
}

#dotTech{
  height:100px;
  width:auto;
}

#ACM {
  height:170px;
  width:auto;
}

#IEEE{
  height: 130px;
  width:auto;
}

#devpost {
  background-color: #00b5ad;
}

#fb {
  background-color: #3B5998;
}

#twitter {
  background-color: #2185d0;
}

#slack {
  background-color: #21ba45;
}

.fab {
  padding-right: 3%;
}

.fas {
  padding-right: 3%;
}

/*SponsorCSS End*/