@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

#sticky-nav {
  z-index: 9 !important;
  background-image: linear-gradient(45deg,#28282A,#34343B) !important;
}

.nav-link>a{
  color:white;
}

.nav-link>a:hover{
  text-decoration:none;
  transition:1000ms;
  color:grey;
}

.active {
  background-image: radial-gradient(#28282A, #3b3b3d);
}

.active>a{
  color:orange;
}

#CutieHackTitle {
  font-size: 700%;
  font-family:'Poppins';
  font-weight: 600;
}

#eventDetails {
  font-size: 200%;
  font-family:'Poppins';
  font-weight: 500;
}

#MainHeroText{
  text-align:center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 250px;
  color:#FFFFFF;
  /*font-style:italic;*/
}

@media (max-width: 799px) {
  #CutieHackTitle{
    font-size:300%;
  }

  #eventDetails {
  font-size: 125%;
  font-family:'Poppins';
  font-weight: 500;
  }
}

#headerTextBreak {
  width: 33%;
  display: block;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #FFFFFF;
}

#banner {
  background-color: #F38709;
  height: 140vh;
  padding: 20%;
  z-index: 4;
}

.hero {
  position:absolute;
  top:0;
  min-width: 100%;
  height: 140%;
}

@media (max-width: 800px) {
  #heroLG {
    display: none;
  }
    .hero {
    position:absolute;
    top:0;
    width: auto;
    height: 100%;
  }
}

@media (min-width: 801px) {
  #heroSM {
    display: none;
  }
}

#whatis{
  padding:5%;
  height:auto;
  width:100vw;
  background-image: linear-gradient(#F38709,#dd7a08);
  z-index: 0;
 } 

#computerCody {
  height: 500px;
  width: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 750px) {
  #computerCody{
    height:300px;
    width:auto;
  }
}

#billboard {
  height:500px;
  width: auto;
}

.sectionHeader {
  font-size:275% !important;
  font-family: 'Poppins' !important;
  font-weight: 500;
  color: #fff;
}

.infoText{
  font-family: 'Poppins' !important;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

#about{
  padding:8%;
  background-image: linear-gradient(#f09e12,#d88e0f);
}

#aboutText {
  padding-left:10%;
}

.row {
  width: 100%;
}

.content{
  z-index:1;
}

/** Responsive Images **/
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.img-fluid {
  max-height: 100%;
  width: auto;
}

img{
  z-index:0;
}

.contact-btn-spacing {
  margin: 2%;
  background: #EEEEEE;
}

.lightColor {
  text-decoration: none;
  color: #ffffff;
}

.darkDiv {
  background: #28282A;
  padding: 3%;
}

.darkText {
  color: #EEEEEE;
}

.sectionHeader {
  padding-bottom: 3%;
  font-size: 400%;
}

.questionBorder {
  border-radius: 5px;
  background-color: #f09e12;
  padding: 10px;
  box-shadow: 5px 10px #906231;
  margin: 25px;
}

#faq {
  background-image: linear-gradient(#F38709,#dd7a08);
  text-align: center;
  padding:8%;
}

#sponsors {
  background-image: linear-gradient(#f09e12,#d88e0f);
  padding-top: 40px;
  padding-bottom: 5%;
}

.zoom {
  transition: 1s;
}

.zoom:hover {
  transform: scale(1.08);
}

.bigSponsor{
  padding: 25px;
}

.mediumSponsor{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;    
  display: block;
}

#GitHub{
  margin-top: 25px;
  height:50px;
  width:auto;
}

#GoGoSqueez{
  height:100px;
  width:auto;
}

#dotTech{
  height:100px;
  width:auto;
}

#ACM {
  height:170px;
  width:auto;
}

#IEEE{
  height: 130px;
  width:auto;
}

@media (max-width: 800px) {
  #GitHub{
    height:60px;
    width:auto;
  }

  #GoGoSqueez{
    height:100px;
    width:auto;
  }

  #ACM {
    height:130px;
    width:auto;
  }

  #IEEE{
    height: 90px;
    width:auto;
  }
}

.smallSponsor{
  padding:10px;
}

#footer {
  padding-top: 1.5%;
  padding-bottom: .5%;
}

.iconSize {
  text-decoration:none;
  color:#fff;
  font-size: 175%;
  margin: 2.5%;
  margin-top: 1%;
}

/**Transition Colors for Social Media links**/
.fa-facebook-square:hover{
  text-decoration:none;
  color:#43609C;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

.fa-instagram:hover{
  text-decoration:none;
  color:#cd486b;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
  
.fa-twitter-square:hover{
  text-decoration:none;
  color:#6CADDE;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-envelope:hover{
  text-decoration:none;
  color:#fbad50;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
/**With Heart**/
.red{
  color:white;
}
.red:hover{
  color:#cd486b;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}