@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

#CutieHackTitle {
  font-size: 700%;
  font-family:'Poppins';
  font-weight: 600;
}

#eventDetails {
  font-size: 200%;
  font-family:'Poppins';
  font-weight: 500;
}

#MainHeroText{
  text-align:center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 250px;
  color:#FFFFFF;
  /*font-style:italic;*/
}

#headerTextBreak {
  width: 33%;
  display: block;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #FFFFFF;
}

#banner {
  background-color: #F38709;
  height: 140vh;
  padding: 20%;
  z-index: 4;
}

#hero {
  position:absolute;
  top:0;
  min-width: 100%;
  height: 140%;
}

#whatis{
  padding:5%;
  height:auto;
  width:100vw;
  background-color: #F38709;
  z-index: 0;
 } 

#computerCody {
  height: 500px;
  width: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#billboard {
  height:500px;
  width: auto;
}

.sectionHeader {
  font-size:275% !important;
  font-family: 'Poppins' !important;
  font-weight: 500;
  color: #fff;
}

.infoText{
  font-family: 'Poppins' !important;
  font-weight: 400;
  color: #fff;
  line-height: 2;
}

#about{
  padding:8%;
  background-color: #f09e12;
}

#aboutText {
  padding-left:10%;
}

.row {
  width: 100%;
}

nav {
  position: fixed !important;
  top: 0 !important; 
  width: 100% !important;
  z-index: 9 !important;
  background:#616160;
  border: 10px !important;
}

nav ul li a {
  float: left !important;
  display: block !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-decoration: none !important;
}

nav ul li a:hover {
  color:grey !important;
  transition: .5s !important;
  text-decoration: none !important;
}

.dropdown {
  float: left !important;
  overflow: hidden !important;
  margin:0 !important;
}

.dropbutton {
  border:none !important; 
  background:none !important;
  color:#28282A;
}

.dropdown-content{
  display:none !important;
}

.dropdown:hover .dropdown-content {
    display: block !important;
    background-color: transparent !important;
}

.active{
  color:#f09e12 !important;
}

.content{
  z-index:1;
}

#sponsors{
  padding-top: 40px;
  padding-bottom: 5%;
}

/** Responsive Images **/
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img{
  /*display:inline;*/
  z-index:0;
}

.contact-btn-spacing {
  margin: 2%;
  background: #EEEEEE;
}

.lightColor {
  text-decoration: none;
  color: #ffffff;
}

.darkDiv {
  background: #28282A;
  padding: 3%;
}

.darkText {
  color: #EEEEEE;
}

.sectionHeader {
  padding-bottom: 3%;
  font-size: 400%;
}

.questionBorder {
  border-radius: 5px;
  background-color: #f09e12;
  padding: 10px;
  box-shadow: 5px 10px #906231;
  margin: 5%;
}

#faq {
  background-color: #F38709;
  text-align: center;
  padding:8%;
}

.bigSponsor{
  padding: 2px;
}

.mediumSponsor{
  padding:10px;
}

.smallSponsor{
  padding:10px;
}

#footer {
  padding-top: 1.5%;
  padding-bottom: .5%;
}

.iconSize {
  color:#fff;
  font-size: 175%;
  margin: 2.5%;
  margin-top: 1%;
}

/**Transition Colors for Social Media links**/
.fa-facebook-square:hover{
  color:#43609C;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
  text-decoration: none;
}

.fa-instagram:hover{
  color:#cd486b;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  text-decoration: none;
}
  
.fa-twitter-square:hover{
  color:#6CADDE;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  text-decoration: none;
}

.fa-envelope:hover{
  color:#fbad50;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  text-decoration: none;
}
/**With Heart**/
.red{
  color:white;
}
.red:hover{
  color:#cd486b;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}