.BasicFontSize {
  font-size: 125%;
}


#CutieHackTitle {
  font-size: 200%;
}

.row{
  margin-top:20px;
}
.about{
  margin-top:50px;
}

.horizCenter{
  text-align: center;
  width:100%;
}
.Vertical{
  margin-top:60px;
}



.mainHero{
  margin-top:100px;
  width:100%;
  height:500px;
  display: block;
  text-align: center;
}
.container{
  width: 100%;
}
hr{
  display: block;
  margin: 5rem 0; /* <hr> between each */
  border-top: 1px solid;
  border-top-color: rgb(0, 0, 1);
}

#banner{
  font-size: 250%;
  margin: 15.75%;
}


#sponsors{
  padding-top: 40px;
  scroll-behavior: smooth;
}

/** Responsive Images **/
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img{
  display:inline;
}

.contact-btn-spacing {
  margin: 2%;
  background: #EEEEEE;
}

.lightDiv {
  margin-top:20px;
  background: #EEEEEE;
  padding: 3%;
}
.lightText {
  color: #EEEEEE;
}
.darkDiv {
  background: #28282A;
  padding: 3%;
}
.darkText {
  color: #28282A;
}
#iconSize {
  font-size: 170%;
  margin: 2.5%;
  margin-top: 1%;
}

#faqHeader {
  padding-bottom: 3%;
  font-size: 400%;
}

.faqQuestion:hover {
  color:#FFFFFF;
}

.faqAnsw {
  font-size: 125%;
}



#footer {
  margin-top:5%;
  padding-top: 1.5%;
  padding-bottom: .5%;
}

/**Transition Colors for Social Media links**/
.fa-facebook-square:hover{
  color:#43609C;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

.fa-instagram:hover{
  color:#cd486b;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
  
.fa-twitter-square:hover{
  color:#6CADDE;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-envelope:hover{
  color:#fbad50;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
/**With Heart**/
.red{
  color:white;
}
.red:hover{
  color:#cd486b;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}