/* Everything */

body {
  background: url(../images/cityscape_repeating.png);
}

.ui.segment, .ui.segments .segment {
  font-size: 1.2em;
  background-color: rgb(255, 219, 135)
}

.ui.segment {
  border-radius: 30px;
}

.form {
  padding: 10%;
  filter: drop-shadow(5px 5px 2px #282828);
}

h1 {
  font-style: italic;
  font-weight: bold;
}

label {
  font-weight: normal;
}

/* Formtop */

.topDescrip {
  margin-bottom: 4%;
}

#icon {
  float: left;
  margin-right: 2%;
  height: 100px;
  width: 100px;
}

.description {
  font-size: 0.7em;
  margin: auto;
}

/* Input Boxes */

.input1Form1 {
  width: 720px;
  height: 40px;
}

.input2Form1 {
  width: 428px;
  height: 40px;
}

.input1Form2 {
  width: 717px;
  height: 40px;
}

.input2Form2 {
  width: 397px;
  height: 40px;
}

.input3Form2 {
  width: 270px;
  height: 40px;
}

.input1Form3 {
  width: 700px;
  height: 40px;
}

label {
  margin-bottom: 10px;
}

/* For resume part */
input[type=file] {
  display: inline-block;
  width: 220px;
}

#resumemargin {
  margin-right: 10px;
}

/* Button */

.previous {
  margin-bottom: 2%;
}

#next { /* for the button in the application pt 1*/
  margin-left: 87%;
}

.next {
  float:right;
}

.next1 {
  margin-right: 30px;
}

.btn-warning {
  background-color: #F38709;
  border-color: #F38709;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  border-radius: 16px;
  padding: 5px 30px;
  filter: drop-shadow(1px 2px 2px #746d5a);
}

.btn-warning:hover {
  background-color: #f09e12;
  border-color: #f09e12;
}

/* Misc */

.red-star {
    color: red;
}


select {

  background-color: white;
  font: inherit;
  padding: 0.0em 3.5em 0.1em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #D3D3D3, #D3D3D3);
  background-position:
    calc(100% - 20px) calc(1em - 5px),
    calc(100% - 15px) calc(1em - 5px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#conduct, #authorizeToShare{
  position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}
/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
